<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
  <style>a {
    position: fixed;
    top: 0;
    width: 60px;
    margin-top: 0;
    background: white;
    padding: 10px;
    right: 0px;
  }</style>
</head>

<h1></h1>

</head>
<body>
<form th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">Name:</label>
  <input type="text" th:field="*{username}" id="name"/>
  <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
  <br/>

  <label for="lastName">Lastname:</label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>
  <label for="email">Email:</label>
  <input type="text" th:field="*{email}" id="email"/>
  <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
  <br/>

  <label for="password">Password:</label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>

  <label>Roles:
    <input type="checkbox" name="t_role"
           th:each="roles : ${roles}"
           th:text="${roles.name}"
           th:value="${roles.id}"
           th:field="*{role}"/>
  </label>

  <br/>
  <input type="submit" value="Update">
</form>
<br/>
<br/>
<a href="/logout">Logout</a>
</body>
</html>